{% extends 'base.html.twig' %}

{% block title %} Producto{% endblock %}

{% block body %}
    <div class="container" style="background: navajowhite;border: 0;">

    <h1>Create new Producto</h1>

    {{ include('producto/_form.html.twig') }}
    <a class="btn btn-info w-25" href="{{ path('app_producto_index') }}">back to list</a>
    </div>
{% endblock %}
