{% extends 'base.html.twig' %}

{% block title %}Categoria index{% endblock %}

{% block body %}
    <div class="container" style="background: navajowhite;border: 0;">
    <h1>Create new Categoria</h1>
    <p></p>
    {{ include('categoria/_form.html.twig') }}
	<p>
    <p>
    <a class="btn btn-info w-25"  href="{{ path('app_categoria_index') }}">back to list</a>
   </div>
{% endblock %}
